{% extends 'layouts/bunga.twig' %}

{% block title %}
	{{ product.title|title }}
{% endblock %}

{% block css %}
	<style>
		.title {
			margin-top: 10px;
			font-weight: 700;
		}
	</style>
{% endblock %}

{% block content %}
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-info">
					<div class="panel-body">
						<h3 class="title">{{ product.title|title }}</h3>
						<hr>
						<p>
							<img src="{{ base_url('assets/images/') }}{{ product.image }}" alt="" class="img-responsive" style="width: 100%; height: 600px;">
						</p>
						<hr>
						{{ product.detail|raw }}
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-info">
					<div class="panel-body">
						<h3 class="title">Produk Terkait</h3>
						<hr>
						<ul>
							<li><a href="{{ base_url('artikel-bunga-1') }}">Lorem ipsum dolor sit amet.</a></li>
							<li><a href="{{ base_url('artikel-bunga-1') }}">Lorem ipsum dolor sit amet.</a></li>
							<li><a href="{{ base_url('artikel-bunga-1') }}">Lorem ipsum dolor sit amet.</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}